wp-config.php
.env
.htaccess
*.log

# bower
**/bower_components

**/wp-content/themes/**/vendor

# Mac OSX
**/.DS_Store

# npm
**/npm-debug.log
**/node_modules

# Other
**/.phpintel

# internal theme
**/lean/dist/